voila
fastai2>=0.0.11
pillow<7
packaging
ipywidgets==7.5.1
jupyter
pytorch
torchvision>=0.5
matplotlib
pandas
requests
pyyaml
fastprogress>=0.1.22
python
pip
scikit-learn
scipy
spacy
graphviz
nbdev>=0.2.12
scikit_learn
sentencepiece
